In [3]:
import pandas as pd

# Load the dataset from the 'annual' sheet
df = pd.read_excel('Unemployment Rate, seas. adj..xlsx' , sheet_name="annual")

# Display first few rows
print(df.head())

   Unnamed: 0  Advanced Economies  Argentina  Australia   Austria   Belgium  \
0         NaN                 NaN        NaN        NaN       NaN       NaN
1      1996.0            7.322558        NaN   8.516425  7.033851  9.544409
2      1997.0            7.023916        NaN   8.363718  7.103283  9.212289
3      1998.0            6.647297        NaN   7.651377  7.184796  9.340881
4      1999.0            6.325793        NaN   6.869885  6.645249  8.411080

   Bulgaria  Bahrain  Belarus  Brazil  ...  Thailand  Tunisia  Turkey  \
0       NaN      NaN      NaN     NaN  ...       NaN      NaN     NaN
1  11.06167      NaN      NaN     NaN  ...       NaN      NaN     NaN
2  14.04583      NaN      NaN     NaN  ...       NaN      NaN     NaN
3  12.20333      NaN      NaN     NaN  ...       NaN      NaN     NaN
4  13.78250      NaN      NaN     NaN  ...       NaN      NaN     NaN

   Taiwan, China   Uruguay  United States  Venezuela, RB  Viet Nam  \
0            NaN       NaN            NaN            NaN       NaN
1          2.600       NaN       5.408333            NaN       NaN
2          2.725  11.55833       4.941667            NaN       NaN
3          2.700  10.12500       4.500000            NaN       NaN
4          2.925  11.20000       4.216667       14.50367       NaN

   World (WBG members)  South Africa
0                  NaN           NaN
1                  NaN           NaN
2                  NaN           NaN
3                  NaN           NaN
4                  NaN           NaN

[5 rows x 79 columns]

In [4]:
# Check for missing values
missing_values = df.isnull().sum()

# Drop columns where more than 50% of values are missing
df = df.dropna(thresh=len(df) * 0.5, axis=1)

# Fill remaining missing values with column mean
df = df.fillna(df.mean())

print("Missing values handled successfully.")

Missing values handled successfully.

In [5]:
# Rename the first column to 'Year' if it's unnamed
df.rename(columns={df.columns[0]: "Year"}, inplace=True)

print(df.head())  # Display after renaming

     Year  Advanced Economies  Argentina  Australia   Austria   Belgium  \
0  2010.0            6.532838    9.63847   5.661814  7.251912  7.552595
1  1996.0            7.322558    9.63847   8.516425  7.033851  9.544409
2  1997.0            7.023916    9.63847   8.363718  7.103283  9.212289
3  1998.0            6.647297    9.63847   7.651377  7.184796  9.340881
4  1999.0            6.325793    9.63847   6.869885  6.645249  8.411080

   Bulgaria  Bahrain    Canada  Switzerland  ...     Sweden  Thailand  \
0  10.07796     5.15  7.195977     3.066506  ...   7.670389  1.365556
1  11.06167     5.15  9.608333     4.665679  ...  10.899000  1.365556
2  14.04583     5.15  9.091667     5.201972  ...  10.882630  1.365556
3  12.20333     5.15  8.291667     3.840284  ...   8.813412  1.365556
4  13.78250     5.15  7.566667     2.713548  ...   7.565179  1.365556

      Turkey  Taiwan, China    Uruguay  United States  Venezuela, RB  \
0  10.451316       3.939799   9.855864       5.567529      10.204788
1  10.451316       2.600000   9.855864       5.408333      10.204788
2  10.451316       2.725000  11.558330       4.941667      10.204788
3  10.451316       2.700000  10.125000       4.500000      10.204788
4  10.451316       2.925000  11.200000       4.216667      14.503670

   Viet Nam  World (WBG members)  South Africa
0   2.38375             7.322661     26.636737
1   2.38375             7.322661     26.636737
2   2.38375             7.322661     26.636737
3   2.38375             7.322661     26.636737
4   2.38375             7.322661     26.636737

[5 rows x 71 columns]

In [6]:
# Convert 'Year' to integer type
df["Year"] = df["Year"].astype(int)

In [10]:
df = df.drop_duplicates()

In [7]:
from sklearn.preprocessing import MinMaxScaler

# Select numerical columns (excluding 'Year')
numerical_cols = df.columns[1:]

# Apply MinMaxScaler for normalization
scaler = MinMaxScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

print("Data normalized successfully.")

Data normalized successfully.

In [9]:
# Save to a local directory
df.to_csv("cleaned_unemployment_data.csv", index=False)